.simulator {
  position: absolute;
  left: 25px;
  bottom: 20px;
  display: flex;
  margin-top: 60px;
}

.simulateWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.simulateLabel {
  font-family: 'Roboto';
  font-size: 16px;
  margin-right: 5px;
  user-select: none;
}
