:root {
  --bg-color: #EEEEEE;
  --border-color: #979797;
  --border-color-highlight: #333333;
  --available-color: #50E3C2;
  --booked-color: #9B9B9B;
  --main-text-color: #000000;
}

@font-face {
  font-family: 'BIGJOHN';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/BIGJOHN.otf') format('otf');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoMono';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/RobotoMono-Regular.ttf') format('truetype');
}
